@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icons/icomoon.eot?i3u1j3');
  src:  url('../assets/fonts/icons/icomoon.eot?i3u1j3#iefix') format('embedded-opentype'),
    url('../assets/fonts/icons/icomoon.ttf?i3u1j3') format('truetype'),
    url('../assets/fonts/icons/icomoon.woff?i3u1j3') format('woff'),
    url('../assets/fonts/icons/icomoon.svg?i3u1j3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e906";
}
.icon-checkmark:before {
  content: "\e904";
}
.icon-arrow-down:before {
  content: "\e905";
}
.icon-circle-arrow-down:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
